<a href="">
    <i class="social social-facebook"></i>
</a>
<a href="">
    <i class="social social-twitter"></i>
</a>
<a href="">
    <i class="social social-google-plus"></i>
</a>
<a href="">
    <i class="social social-flickr"></i>
</a>
<a href="">
    <i class="social social-linked-in"></i>
</a>
