{% block mainHeader %}
    <h2>Welcome to BBS</h2>
{% endblock %}
{% block mainContent %}
    <i class="black glyphicons glyphicons-construction-cone" style="font-size: 20em; align-self: center"></i>
{% endblock %}
{% block mainFooter %}
{% endblock %}
