{% block header %}
    <h2>Page générale de BBS</h2>
{% endblock %}
{% block aside %}
    <aside>
        session id:
        <br>
        {{ app.session.id }}
    </aside>
{% endblock %}
{% block main %}
    <main>
        <div style="width: 400px; height: 400px; background-color: #aacd4e"></div>
    </main>
{% endblock %}
{% block footer %}
    <footer>
        <div style="width: 400px; height: 100px; background-color: #916319"></div>
    </footer>
{% endblock %}
